body{
	font-family: 'Ubuntu', sans-serif;
}
.header{
	width: 100%;
	max-width: 980px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7px;
	box-sizing: border-box;
}
.nav{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	font-size: 20px;
	/*padding: 20px;*/
}
.nav>li {
	margin-left: 40px;
}
.nav>li>a{
	margin-right: -8px;
	text-decoration: none;
	color: #333333;
	letter-spacing: 3.57143px;
}
.logo-img{
	display: block;
	width: 127px;
	height: 17px;
	background-image: url(../img/Logo.svg);
}
.slider{
	position: relative;
	box-sizing: border-box;
	max-width: 980px;
	height: 417px;
	margin: 0 auto;
}
.slider-img{
	width: 100%;
	max-width: 980px;
	height: 417px;
	
}
.slider-img img{
	width: 100%;
}
.arrows{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 133px;
	height: 48px;
	background-color: #FFFFFF;
	position: absolute;
	top: 266px;
	left: 100px;
}
.fa-long-arrow-alt-left, .fa-long-arrow-alt-right{
	font-size: 16px;
	margin: 20px;
}

.title-slider{
	position: absolute;
	width: 460px;
	height: 200px;
	left: 100px;
	top: 314px;
	background-color: #FFFFFF;
}
.title-slider>p{
	padding: 25px 40px 18px 38px;
	font-size: 36px;
	font-weight: 500;
	font-size: 36px;
	line-height: 41px;
}
main{
	width: 100%;
	max-width: 940px;
	height: auto;
	margin: 0 auto;
	padding-top: 110px; 
}
/*.title-facts{
	padding-bottom: 35px;
}*/
.title-facts>h1{
	font-weight: 500;
	font-size: 48px;
	line-height: 55px;
	color: #333333;
}
.page{
	    padding-bottom: 39px;
	padding-top: 7px;
}
.wrap{
	display: flex;
	justify-content: space-between;
	max-width: 940px;
	height: 363px;
	border-top: 2px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	box-sizing: border-box;
	margin-top: 44px;
	
}
.facts-item{
	display: block;
	max-width: 314px;
	height: 360px;
	background-color: #FFFFFFFF;
	padding: 26px;
	border:1px solid #D8D8D8;

}
.title-item>h1{
	font-weight: 500;
	font-size: 72px;
	line-height: 83px;
	color: #EF5D64;
	margin-bottom: 0px;
}
/*.name-item{

}*/
.name-item>h2{
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
	margin-top: 14px;
    margin-left: -5px;
}
.conten-item>p{
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
	/*padding-bottom: 20px;*/
}
.more{
	text-align: right;
}
.more>a{
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
}
/*.row-custom{
	padding-top: 35px;
	padding-bottom: 20px;
	margin: 0;
}*/
.card-custom{
	width: 100%;
	max-width: 442px;
	height: 615px;
	border:none;

}
.card-body-custom{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 0;
	padding-bottom: 20px;
}
.card-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

	color: #333333;
}
.card-text{
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;

	color: #333333;

}
.btn-more{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-more .btn{
	width: 152px;
	height: 60px;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
}
.wrap-team{
	max-width: 870px;
	height: 317px;
	margin: 0 auto;
	/*background-color: #40404080;*/
}
.title-team{
	font-weight: 400;
	font-size: 30px;
	line-height: 54px;
	letter-spacing: 0.833333px;
	color: #333333;
	padding-bottom: 50px;
}
.box-use{
	display: flex;
	justify-content: flex-start;
}
.img-use{
	width: 90px;
	height: 90px;

}
.img-use img{
	width: 100%;
	transform: rotate(180deg);
}
.box-name{
	display: block;
	margin: 10px;
}
.box-name>h4{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}
.box-name>p{
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 2.5px;
	color: #333333;
}
.box-subscribe{
	margin: 0 auto;
	max-width: 693px;
	height: 168px;
}
.box-subscribe>h4{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}
.subscribe{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 693px;
	height: 81px;
	border:1px solid;
	background-color: #FFFFFFFF;
	margin-top: 60px;
}
.input-mail{
	width: 100%;
	min-height: 77px;
	outline: none;
	overflow: hidden;
	border:none;
	padding-left: 10px;
}
.fa-envelope, .fa-chevron-right{
	font-size: 40px;
	padding: 20px;
}
.btn-submit{
	width: 20%;
	height: 79px;
}
footer{
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
	height: 38px;
}
.box-footer{
	margin-top: 100px;
	border-top: 1px solid #C0C0C0FF;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.box-footer>p{
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 3.21429px;
	color: #333333;
	margin-bottom: 0!important;
}
.nav-footer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.nav-footer>li{
	padding-left: 20px;
	list-style-type: none;
}
.nav-footer>li>a{
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 3.21429px;
	text-decoration: none;
	color: #333333;


}