.card-advisory-corner {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all 1s;

}

.card-advisory-corner:hover {
    box-shadow: 0 0 3px 2px #d2d2d2;
     transition: 1s;

}

.text-advisory-corner {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.text-advisory-corner:last-child {
    margin-bottom: 0;
}

