.text-about {
    padding-bottom: 1rem;
}

.agileits-team-grid {
    box-shadow: inset 0px 0 5px 0px rgba(0, 0, 0, .18);
    margin-bottom: 1.6rem;
    border-radius: 5px;
}

.team-info {
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.team-caption {
    background: #222;
    padding: 1em;
    position: absolute;
    left: 0px;
    bottom: -105%;
    text-align: center;
    width: 100%;
    transition: 1s all;
}

.icon-team a {
    max-width: 45px;
    overflow: hidden;
}

.icon-team a img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.icon-team a:nth-child(2) {
    padding-right: 0;
}

.team-info:hover .team-caption {
    bottom: 0%;
}

.box-text {
    padding: 0.75rem 0;
}

p.text {
    color: #777;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
}

h5.text {
    text-align: center;
}

.team-caption a i {
    padding-right: 10px;
    font-size: 30px;
    background: none;
    color: #ffff;
    transition: 1s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.team-caption a i:hover {
    color: #3b5998;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E5E2E2;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: 1s ease;
}

.img-team:hover .overlay {
    opacity: 0.3;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.img-team .icon-overlay:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.icon-overlay img {
    opacity: 0.8;
    padding: 0.2rem;
    max-width: 45px;
}

.icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.icon-overlay img:hover {
    opacity: 1;
}

.title-add-sidebar {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.content-add-sidebar,
.content-hotlie-sidebar {
    font-weight: 500;

}

.add-sidebar {
    background: #ffff;
    border: 1px dashed #a97b50;
    padding: 5px 5px 10px 10px;
    line-height: 35px;
}

.fa-map-marker-alt,
.fa-envelope,
.fa-facebook-square,
.fa-phone-square-alt {
    padding-right: 10px;

}


.content-fanfage-sidebar a,
.content-email-sidebar a {
    font-weight: 500;
    font-style: italic;
}

.content-fanfage-sidebar a,
.content-email-sidebar a,
.content-add-sidebar a,
.content-hotlie-sidebar a {
    color: #d41856;
}

.content-fanfage-sidebar a:hover,
.content-email-sidebar a:hover,
.content-add-sidebar a:hover,
.content-hotlie-sidebar a:hover {
    opacity: 0.8;
    transition: 1s;
}

.title-sidebar h5 {
    padding-bottom: 1rem;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.title-sidebar .all-album {
    color: #000000;
}

.title-sidebar .all-album:hover {
    color: #d41856;
    opacity: 0.8;
}


.card-packages-sidebar{
    padding-bottom: 20px;
}
.card-packages-sidebar:hover {
    color: #d41856;
    transition: 1s;
}

.img-packages-sidebar {
    width: 100%;
    overflow: hidden;
    transition: 1s;
}

.img-packages-sidebar img {
    width: 100%;
    height: 250px;
    transition: 1s;
}

.img-packages-sidebar img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}







