.title__form {
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.btn-submit {
    color: #fff;
    background-color: #d41856;
    border-color: #d41856;
    transition: 1s;
}

.btn-submit:hover {
    opacity: 0.8;
}

.box-dangki,
.box-map__contact {
    padding-bottom: 50px;

}
.btn:focus{
	box-shadow: none;
}
.error {
    color: #e7541a;
}
.ok {
    color: #e7541a;
}
.pop-up-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: 0.5s;
}
.popup-send-feedback {
    position: absolute;
    width: 95%;
    max-width: 400px;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #C4C4C4;
}
.popup-content {
    margin: 15px auto 0px auto;
    width: 95%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.close-popup-button {
    background-color: #DE0000;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin: 15px auto 15px auto;
    color: white;
}
