body{
	
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	height: 750px;
	border-width: 1px;
   	border-style: solid;
   	font-family: times new roman;
   	font-size: 16px;
}

#quoc_ngu{
	text-align: center;
	font-weight: bold;
}

h1{
	text-align: center;
}
#ho_ten{
	padding-left: 150px;
}
.noi_dung{
	text-align: justify;
	padding:5px 5px;
}

.cam_on{
	padding-left: 30px;
	font-weight: bold;
}
.ngay_thang{
	text-align: right;
	padding-right: 50px;
}
.ky_ten{
	text-align: right;
	padding-right: 100px;
	font-weight: bold;
}
