
nav{
	padding: 0;
	width: 100%;
	max-width: 980px;
	height: 109px;
	margin: auto;
}
header{
	background-image: url("../img/bg-2.jpg");
	width: 100%;
	max-width: 980px;
	height: 417px;
	margin: auto;
	position: relative;

}
.box-arrows{
	position: absolute;
	width: 100%;
	max-width: 133px;
	height: 48px;
	left: 100px;
	top: 266px;
	background: #FFFFFF;
	font-size: 16px;
	border-radius: 3px;
}
.box-title{
	position: absolute;
	width: 100%;
	max-width: 460px;
	height: 200px;
	left: 100px;
	top: 314px;
	background: #FFFFFF;
	border-radius: 3px;
}
.title{
	position: absolute;
	max-width: 387px;
	height: 172px;
	left: 36px;
	top: 25px;
	right: 37px;
	font-style: italic;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	color: #333333;
}

main{
	max-width: 980px;
	margin: auto;
	position: relative;
	top: 117px;
	left: 0;
}

.facts{
	max-width: 940px;
	height: 507px;
	margin: auto;
	position: relative;
}
.name-facts{
	position: absolute;
	left: 0;
	font-weight: bold;
	font-size: 48px;
	color: #333333;
}
.box-facts{
	position: absolute;
	max-width: 940px;
	height: 364px;
	top: 100px;
	left: 0;
}
.style-card{
	width: 100%;
	height: 364px;
}
.card-body{
	position: relative;
}
.card-title{
	
	font-size: 72px;
	line-height: 85px;
	padding: 8px;
	color: #EF5D64;
}

.card-body p{
	font-size: 24px;
	line-height: 28px;
	color: #333333;
}
.card-body a{
	position: absolute;
	right: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #333333;

}
.hr-top{
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	border: 1px solid #606060FF;
}
.hr-bottom{
	position: absolute;
	top: 449px;
	left: 0;
	width: 100%;
	border: 1px solid #606060FF;
}
.new{
	max-width: 940px;
	margin: auto;
	position: relative;
}
.box-new{
	padding-bottom: 23px;
}
.name-new{
	font-weight: bold;
	font-size: 48px;
	color: #333333;
}
.card-bd{
	width: 442px;
	height: auto;
}
.img-top img{
	width: 100%;

}
.img-top{
	width: 441px;
	height: 441px;
}
.btn{
	position: absolute;
	left: 50%;
}
/************************************/
.wanderer-too{
	position: relative;
	width: 870px;
	min-height: 317px;
	left: 0;
	top: 43px;
	background-color: #3BACC3FF;
	margin: auto;
}
.text{
	position: absolute;
	max-width: 890px;
	height: 124px;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 48.9%;
	font-family: SFProDisplay;
	font-style: italic;
	font-weight: normal;
	font-size: 30px;
	line-height: 54px;
	letter-spacing: 0.833333px;
	color: #333333;
}
.box-ali{
	width: 100%;
	display: flex;
	align-items: center;
	top: 227px;
	position: absolute;
}
.img-ali{
	width: 90px;
	height: 90px;
}
.img-ali img{
	width: 100%;
	transform: rotate(180deg);
}
.name-ali{
	margin-left: 32px;
	font-family: SFProDisplay;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2.5px;
	color: #333333;


}

.newsletter{
	margin: auto;
	position: relative;
	width: 693px;
	height: 168px;
	left: 0;
	top: 146px;
	background-color: #B6FF00FF;
}
.text-newsletter{
	padding-bottom: 85px;
	font-family: SFProDisplay;
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
	text-align: center;
}
.input-group{

}
/**************************************/
footer{
	max-width: 944px;
	height: 38px;
	margin: auto;
	position: relative;
	top: 445px;
	left: 0;
	background-color: #40404080;
}