.noidung1 {
	background-color: white;
	padding: 20px;
	margin-top: 10px;
	float: left;
	width: 75%;

}
.noidung1 h1{
	font-size: 20px;
}
.noidung1 p{
	text-align: justify;
	padding: 5px;
}
.noidung1 img{
	margin: auto;
	display: block;
	width: 80%;
}

@media screen and (max-width: 700px) {
  .noidung1 { 
    width: 100%;
    padding: 0;
  }
}
