*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container{
	width: 1000px;
	margin: 0 auto;
	background-color: #9A9797;
	
}
.banner img{
	width: 100%;
}
.navbar{
	width: 100%;
	height: 50px;
	background:#CB2C2C ;
}
.content img{
	max-width:100%;
	margin: 0 auto; 
	display: block;
	border-radius: 5px;
}

.flex{
	display: flex;
	width: 100%;
	
}
.item{
	width: 50%;
	padding: 10px 0;
	border-bottom: 1px solid #00000000;
}

.img-conten img{
	transition: transform 0.5s ;
    width: 100%;
    height: 100%;
}
.img-conten{
	width: 310px;
    height: 250px;
	margin: auto;
	overflow: hidden;
}
.img-conten:hover img{
	transform: scale(1.2);
}

.title-content a{
	text-decoration: none;
	text-align: center;
	color: #060606;
}

