.container{
	width: 900px;
	height: 350px;
	background: #CCC1C1;
	margin: 0 auto;
	padding: 10px;
}

.titleMV{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contentMV{
	display: flex;
}
span{
	font-size: 18px;
	color: 

}

.mv{
	flex: 40%;
	padding: 10px;
	position: relative;
}
.overlay{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0;
}

/*imgmv*/
.img-mv img{
	transition: transform 0.5s ;
    width: 100%;
    height: 100%;
    
}
.img-mv{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.img-mv:hover img{
	 transform: scale(1.4);
}
.img-mv:hover .overlay{
   opacity: 0.6;
}

.img-mv .icon-play:hover{
    opacity: 1;
    transition: opacity 0.5s;
}

.icon-play{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: white;
	opacity: 0;
}
.name-mv{
	color: gray;
    font-weight: bold;
	margin-top: 10px;
}