.box-list-price{
	
	border: 1px solid ;
}
.images-price{
	padding: 10px;
}
.conten>p{

}
.text-price{
	padding: 15px;
}
.title-price, .price{
	text-align: center;
	line-height: 35px;
}

.box-price{
	padding: 15px;
}
.conten{
	background-color: #C9C4C4;
	padding: 10px;

}
.btn-primary{
	margin: 0 auto;
}
.title-price{
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}
.btn-secondary{
background-color: #D51AE1;
}