
body{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #464646;
    text-align: left;
    font-weight: 400;
}
.margin-bottom{
margin-bottom: 15px;
font-weight: 500;
}


.flutter-laptrinh{

}

.badge{
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.category{
	background-color: #e5e5e5;
    color: #808080;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    margin-right: .4rem;
    cursor: pointer;
}

pre{
	overflow: auto;
	box-shadow: 1px 1px 0.5px black inset;
	background: black;
	color: white;
	font-family: Monaco,Consolas,'Andale Mono','Ubuntu Mono',monospace;
}

.images{
	text-align: center;
	max-width: 100%;
	height: auto;
}
.blockquote{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	border-style: solid;
	border-color: #ccc;
	border-left-width: 5px;
	display: block;
}